<% include header %>

<div class="container">

        <div class="page-header">
            <h2>Search bar</h2>
        </div>

    <div class="row">

            <form class="form-inline">
                <form method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="artistid" id="artistid" size="25">
                    </div>
                    <div class="form-group">
                        <button type="submit" formmethod="post" class="btn btn-default">Search</button>
                    </div>
                </form>
            </form>

    </div>

    <div class="row">

        <div class="col-sm-7">
            <h1><%= artist %></h1>
        </div>

        <div class="col-sm-5">
            <h2>Similar artists graph</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-7">

            <div class="table">
                <table>
                    <tbody>
                    <tr>
                        <td><img src="<%= artistImage %>"></td>
                        <td>
                            <ul>
                                <li><b>Top album:</b> <%= artistTopAlbum %></li>
                                <li><b>Listeners:</b> <%= artistListeners %></li>
                                <li><b>Play count:</b> <%= artistPlayCount %></li>
                                <li><b>Top tracks:</b></li>
                                <ul>
                                    <% artistTopTracks.forEach(function(item){ %>
                                    <li><%= item.name %></li>
                                    <% }) %>
                                </ul>
                                <li><b>Similar artists:</b></li>
                                <ul>
                                    <% similarArtist.forEach(function(item){ %>
                                    <li><%= item %></li>
                                    <% }) %>
                                </ul>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-5">
            <div id="svg">

                <style>

                    .links line {
                        stroke: #999;
                        stroke-opacity: 0.6;
                    }

                    .nodes circle {
                        stroke: #fff;
                        stroke-width: 1.5px;
                    }

                </style>
                <svg width="500" height="300"></svg>

                <script src="/js/renderGraph.js"></script>
                <script type="text/javascript">
                    var simart = <%- JSON.stringify(similarArtistsList) %>;
                    renderGraph(simart, false);
                </script>

            </div>
        </div>

    </div>

    <div class="row">

        <div class="page-header"></div>
        <h4>Graph options</h4>

        <input id="fisheye_effect" class="btn btn-info" name="fisheye_effect" type="button" value="Fisheye effect start" />

        <input id="highlight" class="btn btn-primary" name="highlight" type="button" value="Highlight effect start" />

        <script type="text/javascript">

            var fisheyeOnOff = d3.select("#fisheye_effect");

            var fisheye_enable = true;

            fisheyeOnOff.on("click", function () {
                if (fisheye_enable) {
                    this.value = 'Fisheye effect stop';
                    renderGraph(simart, fisheye_enable);
                }
                else {
                    this.value = 'Fisheye effect start';
                    renderGraph(simart, fisheye_enable);
                }
                fisheye_enable = !fisheye_enable;
            });

            var highlightOnOff = d3.select("#highlight");
            var highlight_enable = false;

            highlightOnOff.on("click", function () {
                if (highlight_enable) {
                    this.value = 'Highlight effect start';
                    renderGraph(simart, false);
                }
                else {
                    this.value = 'Highlight effect stop';
                    renderHightlihtedGraph(simart, highlight_enable);
                }
                highlight_enable = !highlight_enable;
            });

        </script>

    </div>

</div>

<% include footer %>